body {
    margin: auto;
    display: flex;
    height: 100vh;
}

.container {
    margin: 2rem;
    display: flex;
}

#message-container {
    margin: 20rem 28rem 4rem 28rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#message {
    align-self: center; 
    //margin: 20rem 28rem 4rem 28rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

#first_link_btn {
    cursor: pointer;
    background: whitesmoke;
    border-radius: 32px;
    padding: 20px 50px 20px 50px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 400;  
}

#first_link_btn a {
    //text-decoration: underline;
    color: rgba(0, 0, 0, 0.8);
}

#menu_btn {
    cursor: pointer;
    background: whitesmoke;
    border-radius: 32px;
    padding: 16px; 
    z-index: 999;  
}

.menu-list {
    display: block;
    list-style-type: none;
    width: 60px;
    align-items: center;
    justify-content: center;
    margin: 4
}

.list-btn {
    margin-top: -10;
    background: whitesmoke;
    border-radius: 32px;
    padding: 16px;
    opacity: 0;
    transform: translateY(0);
    will-change: opacity, transform;
    transition: opacity 0.3s ease, transform 0.5s cubic-bezier(0.25, 1.25, 0.5, 1.25);
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.list-btn.show {
    opacity: 1;
    transform: translateY(10);
}

.list-btn.exit {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.5s cubic-bezier(0.25, 1.25, 0.5, 1.25);
}

.material-icons {
    color: rgba(0,0,0,0.6);
}

.material-icons:hover {
    color: rgba(0,0,0,1);
}